body{
     margin: 30px;
     box-sizing: border-box;
     }
    
.name{
    width: 20%;
    padding: 15px;
}
.email{
    width: 40%;
    padding: 15px;
}
.satisfied{
    position: relative;
    float: right;
    width: 280px;
    right: 10px;
    font-size: large;
    /* padding: 20px; */

}
.sd{
    list-style-type:none;
    padding: 30px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
.box{
 
    padding: 10px;
    background-color: rgb(202, 198, 198);

}

.d{
   
    padding: 10px;
   
}
.button{
    width: 200px;
    font-size: larger;
    padding: 15px; ;
}
.radio{
    position: relative;
    float: right;
    width: 290px;
    right: 10px;

}

.star{
    font-size: xx-large;
    width: 100px;
}